.navbar {
  width: 100%;
  background-color: #242526;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.change__iconColor {
  font-size: larger;
}
.change__iconColor:hover {
  color: #2374e1;
}
.icon {
  border: 1px solid rgb(168, 164, 164);
  border-radius: 50%;
  padding: 5px;
  background-color: #464747;
}
input {
  border-radius: 20px;
  border: 2px solid #3a3b3c;
  height: 35px;
  outline: none;
  width: 220px;
  text-align: center;
  color: #b0b3b8;
  background-color: #3a3b3c;
}
img {
  margin: 6px;
  width: 50px;
  height: auto;
  border-radius: 50%;
}
.myImage {
  width: 30px;
  height: 35px;
  border-radius: 100%;
}

.left__div {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.middle__div {
  width: 70%;
  margin: 0 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.middle__div span {
  padding: 10px 30px;
  border-bottom: #242526 solid 3px;
}
.middle__div span:hover {
  border-bottom: #2374e1 3px solid;
}
.right__div {
  width: 32%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.right__div span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.right__div img {
  height: 30px;
}
.right__div span:hover {
  background-color: #464747;
  border-radius: 35px;
}
